body {
      background-color: #2a2a2a;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
    }
.pais{
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    padding: 10px;
}

    .sidebar {
      background-color: #fff;
      color: #000;
      padding: 1rem;
      min-height: 100vh;
    }
    .sidebar a {
      display: block;
      margin-bottom: 1rem;
      font-weight: 600;
      text-decoration: none;
      color: #000;
    }
    .sidebar a:hover {
      color: #FF4A4A;
    }
    .chat-window {
      background-color: #333;
      padding: 1rem;
      border-radius: 10px;
      height: 400px;
      overflow-y: auto;
      margin-bottom: 1rem;
    }
    .chat-input {
      display: flex;
      gap: 0.5rem;
    }
    .chat-input input {
      flex-grow: 1;
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
    }
    .chat-input button {
      padding: 0.5rem 1rem;
      background-color: #FF4A4A;
      border: none;
      color: #fff;
      border-radius: 5px;
    }
    .logomarca{
        width: 15%;
    }
    .navbar {
    width: 100%;
    background-color: #070707;
    overflow: auto;
}
.navbar a {
    float: left;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
}
.navbar a:hover {
    background-color: #000;
}
.navbar a.active {
    background-color: #e40505;
}
@media screen and (max-width: 500px) {
.navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
}}
.derecho{
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #292929;
  color: #f1f1f1;
  text-align: center;
  padding: 12px 20px;
  font-size: 14px;
  z-index: 1000;
}
.sin_estilo{
    text-decoration: none;
    all:unset
}